body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    min-width: 320px;
    max-width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
#texto{
    position: absolute;
    color: white;
    padding: 10px;
    top: 380px;
    left: 300px;
    font-size: 20px;
}
b{
    color: yellow;
}
button{
    border-radius: 10px;
    height: 50px;
    background-color: rgb(10, 60, 224);
    color: white;
    transition: 0.5s;
}
button:hover{
    background-color: cornflowerblue;
}
@media(max-width: 768px){
    #texto{
        top: 5px;
        left: 10px;
        font-size: 13px;
        padding: 10px;
    }
}
@media(max-width: 768px){
    button{
        position: absolute;
        top: 200px;
        width: 150px;
    }
}
#texto2{
    position: absolute;
    display: inline-block;
    left: 500px;
    padding: 10px;
    font-size: 20px;
}
#img2{
    position: absolute;
    left: 1100px;
    display: inline-block;
    padding-top: 20px;
    top: 800px;
    width: 350px;
}
@media(max-width: 768px){
   #texto2{
        position: absolute;
        left: 0;
        font-size: 15px;
        padding: 10px;
        top: 460px;
   }
}
#rapaz{
    position: absolute;
    background-image: url(img/eletricista.png);
    width: 100%;
    top: 1500px;
    height: 50px;
}
#texto3{
    position: absolute;
    top: 200px;
    color: white;
    left: 40%;
    font-size: 20px;
}
@media(max-width: 768px){
    #texto3{
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        padding: 10px;
        background-image: url(img/eletricista.png);
    }
}
 @media(max-width: 768px){
    #rapaz{
        position: absolute;
        top: 1000px;
        background-image: url(img/eletricista.png);
    }
}
 header{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 2150px;
}
#um{
    display: inline-block;
    border: solid 1px black;
    margin: 5px;
    padding: 15px;
    color: white;
    background-image: linear-gradient(to top, #0491f2, #6eccf9);
    top: 2300px;
    position: absolute;
    height: 380px;
    width: 250px;
    left: 485px;
    box-shadow: 0px 5px 0px 0px yellow;
    border-radius: 20px 10px 20px 10px;
}
#dois{
    display: flex;
    width: 250px;
    display: inline-block;
    border: solid 1px black;
    margin: 5px;
    padding: 15px;
    color: white;
    top: 2300px;
    left: 804px;
    position: absolute;
    background-image: linear-gradient(to top, #0491f2, #6eccf9);
    height: 380px;
    box-shadow: 0px 5px 0px 0px yellow;
    border-radius: 20px 10px 20px 10px;
}
#tres{
    display: inline-block;
    position: absolute;
    width: 250px;
    top: 2300px;
    left: 1132px;
    margin: 5px;
    padding: 15px;
    background-image: linear-gradient(to top, #0491f2, #6eccf9);
    color: white;
    border: solid 1px black;
    height: 380px;
    box-shadow: 0px 5px 0px 0px yellow;
    border-radius: 20px 10px 20px 10px;
}
p >img{
    width: 70px;
}
@media(max-width: 768px){
    header{
        position: absolute;
        top: 1400px;
    }
}
@media(max-width: 768px){
    #um{
        position: absolute;
        left: 100px;
        top: 1550px;
    }
}
 @media(max-width: 768px){
    #dois{
        position: absolute;
        left: 100px;
        top: 2000px;
    }
}
 @media(max-width: 768px){
    #tres{
        position: absolute;
        left: 100px;
        top: 2450px;
    }
}
 #nova{
    background-color: rgb(202, 202, 202);
    position: absolute;
    top: 2790px;
    width: 100%;
    height: 700px;
}
#quatro{
    position: absolute;
    background-color: rgb(202, 202, 202);
    left: 38%;
    font-size: 19px;
}
@media(max-width: 768px){
    #nova{
       position: absolute;
       top: 2960px;

    }
}
 @media(max-width: 768px){
    #quatro{
        position: absolute;
        left: 0;
        padding: 20px;
        
    }
}
 @media(max-width: 768px){
    #quatro >button{
        position: absolute;
        left: 180px;
        top: 600px;
    }
}
 #quinto{
    position: absolute;
    top: 3600px;
    left: 700px;
    font-size: 20px;
}
#img{
    position: absolute;
    left: 600px;
    top: 100px;
}
@media(max-width: 768px){
    #quinto{
        position: absolute;
        left: 0;
        top: 3750px;
        padding: 20px;
    }
}
#final{
    background-color: #040526;
    width: 100%;
    position: absolute;
    top: 4600px;
    height: 1900px;
   
}
#foto1{
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 250px;
}
#foto1 >img{
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 250px;
    right: 0px;
}
#foto2{
    display: inline-block;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
#foto2 >img{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 250px;
    right: -2px;
}
#foto3{
    display: inline-block;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
#foto3 >img{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 250px;
    right: 0px;
}
#bill{
    background-color: #0b1856;
    text-align: center;
    display: inline-block;
    border: solid 1px #0491f2;
    height: 500px;
    width: 350px;
    color: white;
    margin: 5px;
    left: 410px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
#mark{
    background-color: #0b1856;
    text-align: center;
    border: solid 1px #0491f2;
    position: absolute;
    display: inline-block;
    width: 340px;
    height: 500px;
    margin: 5px;
    left: 800px;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
#mosca{
    background-color: #0b1856;
    border: solid 1px #0491f2;
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 5px;
    left: 1180px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 10px;
}
#foto4 >img{
    display: inline-block;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
#jeff{
    background-color: #0b1856;
    border: solid 1px #0491f2;
    position: absolute;
    width: 350px;
    height: 500px;
    margin: 5px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    top: 5300px;
    text-align: center;
    left: 410px;
    padding: 10px;
}
#foto5 >img{
    display: inline-block;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
#zhao{
    background-color: #0b1856;
    border: solid 1px #0491f2;
    position: absolute;
    width: 350px;
    height: 500px;
    margin: 5px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    top: 5300px;
    text-align: center;
    left: 795px;
    padding: 10px;
}
#foto6 >img{
    display: inline-block;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
#maria{
    background-color: #0b1856;
    border: solid 1px #0491f2;
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 5px;
    left: 1180px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 10px;
    top: 5300px;
}
#garantia{
    position: absolute;
    width:  400px;
    height: 200px;
    top: 6000px;
    left: 40%;
    color: white;
    text-align: center;
}
@media(max-width: 768px){
    #final{
        position: absolute;
        top: 4700px;
        background-color: #040526; 
        height: 3900px;
    }
}
@media(max-width: 768px){
    #bill{
        position: absolute;
        left: 50px;
        top: 150px;
        width: 340px; 
    }
}
@media(max-width: 768px){
    #mark{
        position: absolute;
        left: 50px;
        top: 700px; 
        width: 340px;
    }
}
@media(max-width: 768px){
    #mosca{
        position: absolute;
        left: 50px;
        top: 1250px; 
        width: 340px;
    }
}

@media(max-width: 768px){
    #jeff{
        position: absolute;
        left: 50px;
        top: 6500px; 
        width: 340px;
    }
}
@media(max-width: 768px){
    #zhao{
        position: absolute;
        left: 50px;
        top: 7050px; 
        width: 340px;
    }
}
@media(max-width: 768px){
    #maria{
        position: absolute;
        left: 50px;
        top: 7610px; 
        width: 340px;
    }
}
@media(max-width: 768px){
    #garantia{
        position: absolute;
        left: 70px;
        top: 8200px; 
        width: 340px;
    }
}
@media(max-width: 768px){
    #garantia >button{
        position: absolute;
        left: 80px;
        top: 250px; 
        width: 200px;
    }
}
#marcelo{
    position: absolute;
    top: 6400px;
    width: 100%;
    height: 415px;
    background-color: orange;

}
#marcelo >img{
    position: absolute;
    top: -150px;
    width: 550px;
    left: 15%;
}
#marcelo >h3{
    position: absolute;
    left: 45%;
    color: white;
    top: 150px;
}
#marcelo >p{
    position: absolute;
    left: 45%;
    top: 200px;
}
@media(max-width: 768px){
    #marcelo{
        position: absolute;
        left: 0px;
        top: 8600px; 
        height: 670px;
    }
}
@media(max-width: 768px){
    #marcelo >img{
        position: absolute;
        width: 350px;
        top: 50px;
    }
}
@media(max-width: 768px){
    #marcelo >p{
        position: absolute;
        left: 0px;
        top: 500px; 
        padding: 20px;
    }
}
@media(max-width: 768px){
    #marcelo >h3{
        position: absolute;
        left: 30%;
        top: 450px;
    }
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    height: 50px;
    position: absolute;
    top: 6810px;
    width: 100%;
}
@media (max-width:768px){
    footer{
        position: absolute;
        top: 9270px;
    }
}