@charset

*{
     font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image:linear-gradient(to right, #9FC131, #DBF227);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #042940;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #4807c2;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(#4599ce) ;
}
h2{
    color: #005C53;
}
p{
    text-align: justify;
}